.container-phone {
  margin: 0 auto;
  .box-phone-30 {
    width: 100%;
    justify-content: flex-start;

    display: flex;
    flex-wrap: wrap;
    .component {
      display: contents;
    }
  }
}

/* PC: width >= 1024px */
@media only screen and (min-width: 1024px) and (max-width: 1240px) {
  * {
  }
  .card-phone {
  }
}
/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .card-phone {
  }
}
/* Mobile: width < 740px */
@media only screen and (max-width: 739px) {
  .card-phone {
  }
}
