<mat-card class="example-card card-phone">
  <button class="btn-money-free">Tra gop</button>
  <img class="img-phone" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p class="description-phone">Samsung Galaxy S22 Ultra 5G</p>
  </mat-card-content>
  <div class="btn-box">
    <button class="btn-phone-card" mat-stroked-button color="primary">8gb/256</button>
    <button class="btn-phone-card" mat-stroked-button color="primary">12gb/256</button>

    <button class="btn-phone-card" mat-stroked-button color="primary">8gb/256</button>
  </div>
  <p class="price-card  ">30.990.000₫</p>
  <p class="gift-text">Qua 2000</p>
  <p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
  <span class="compare"><i></i>So Sanh</span>
</mat-card>



<!--
--routerLink ['']
-app-phone
-chia component -->
