<ng-container *ngFor="let item of phoneList">

  <!-- <div class="col-custome col-sm-6 col-md-3 col-lg-2 "> -->
  <mat-card class="example-card card-phone">

    <button class="btn-money-free">Tra gop</button>
    <img (click)="onClickDetail(item.id)" class="img-phone" mat-card-image src="{{item.image}}"
      alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p class="description-phone">{{item.title}}</p>
    </mat-card-content>
    <div class="btn-box">
      <button class="btn-phone-card" mat-stroked-button color="primary">{{item.type}}</button>
      <button class="btn-phone-card" mat-stroked-button color="primary">{{item.type}}</button>

      <button class="btn-phone-card" mat-stroked-button color="primary">{{item.type}}</button>
    </div>
    <p class="price-card  ">{{item.price}}</p>
    <p class="gift-text">{{item.discount}}</p>
    <p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
    <span class="compare"><i></i>So Sanh</span>
  </mat-card>

</ng-container>



<!--
--routerLink ['']
-app-phone
-chia component -->
