// .col-custome {
//   padding: 2px !important;
//   margin: 0 !important;

.card-phone {
  margin: 5px;
  padding: 10px 15px 20px;
  width: calc(25% - 10px);
  max-height: 515px;

  background: #fff;
  color: #333333;
  box-sizing: border-box;

  text-align: left;
  line-height: 18px;
  margin-bottom: 15px;
  .btn-money-free {
    background-color: #f1f1f1;
    border: none;
    padding: 3px;
    font-size: 13px;
    font-size: 11px;
    border-radius: 3px;
  }
  .img-phone {
    cursor: pointer;
    width: 95%;
    text-align: center !important;
    margin: 0 auto;
    padding: 3px;
  }
  .description-phone {
    color: rgba(129, 7, 7, 0.866);
    padding: 0;
    margin: 0;
    margin-top: 5px;
    font-weight: 500;
  }
  .btn-box {
    padding: 0;
    margin: 0;
    margin-top: 5px;
    .btn-phone-card {
      margin-right: 3px;
      margin-top: 3px;
      padding: 1px 8px !important;
      font-size: 12px;
      color: rgba(160, 6, 6, 0.698) !important;
      line-height: 25px;
    }
  }
  .price-card {
    font-weight: 700;
    padding-top: 5px;
  }
  .gift-text {
  }
  .compare {
    color: blue;
    font-weight: 200;
    font-size: 12px;
    i {
      background: url(//cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/iconcompare/icon_plus.png)
        no-repeat center;
      background-size: 100%;
      height: 16px;
      width: 16px;
      display: inline-block;
      vertical-align: text-bottom;
      margin-right: 10px;
    }
  }
  transition: all 0.5s;
  box-shadow: 1px 1px 5px 0px #00000095;
  &:hover {
    box-shadow: 1px 2px 5px 0px #000000f1;

    transform: translateY(-5px);
  }
}

/* PC: width >= 1024px */
@media only screen and (min-width: 1024px) and (max-width: 1240px) {
  .card-phone {
    width: calc(33.33% - 10px);
  }
}
/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .card-phone {
    width: calc(50% - 20px);
    margin: 10px;
    padding: 40px;
    img.mat-card-image.img-phone {
      width: 66% !important;
    }
  }
}
/* Mobile: width < 740px */
@media only screen and (max-width: 739px) {
  .card-phone {
    height: 510px !important;
    width: calc(100% - 50px);
    padding: 20px;

    img.mat-card-image.img-phone {
      width: 66% !important;
    }
  }
}
