<div class="container-detail-lapTop ">
  <h1 class="text-center my-5"> Chi tiết về LAPTOP thông minh 2022</h1>
  <div class="top-detail row">

    <div class="col-7">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{lapTop.image}}" class=" img-cards-product d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{lapTop.image}}" class=" img-cards-product d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{lapTop.image}}" class=" img-cards-product d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
    <div class="col-5">
      <div class="btn-top">
        <button mat-stroked-button color="primary" class="mx-1 my-1">Mua Ngay</button>
        <button mat-stroked-button color="primary" class="mx-1 my-1">Primary</button>
        <button mat-stroked-button color="primary" class="mx-1 my-1">Primary</button>
      </div>
      <div class="btn-top-color-down">
        <button mat-stroked-button color="warn" class="mx-1 my-1">Green</button>
        <button mat-stroked-button color="warn" class="mx-1 my-1">Blue</button>
        <button mat-stroked-button color="warn" class="mx-1 my-1">Black</button>
        <button mat-stroked-button color="warn" class="mx-1 my-1">Gray</button>
      </div>
      <div class="location">
        <p>Địa điểm: TP HCM</p>
        <p>Giá:{{lapTop.price}}</p>
      </div>
      <div class="description">
        <p>{{lapTop.description}}</p>
      </div>
      <button mat-stroked-button color="warn" class="mx-1 my-1">Mua ngay</button>

    </div>
  </div>
  <div class="body-detail row">
    <div class="col-10 mx-auto mt-4">
      <p>{{lapTop.description}}</p>

    </div>
  </div>


</div>
