.container-laptop {
  padding: 0px !important;
  margin: 20px 80px !important;

  .box-laptop-30 {
    width: 100%;
    justify-content: space-between;
    display: flex !important;
    flex-wrap: wrap;
    .component {
      display: contents !important;
    }
  }
}
