.container-laptop {
  margin: 0 auto;
  .box-laptop-30 {
    width: 100%;
    justify-content: flex-start;

    display: flex;
    flex-wrap: wrap;
    .component {
      display: contents;
    }
  }
}

@media (max-width: 768px) {
  * {
  }

  .card-laptop {
    height: 510px;
  }
}
@media (max-width: 992px) {
  .card-laptop {
    height: 510px;
  }
}
